@import "../../../variables-css/variables.css";

.modifica {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  position: absolute;
  left: 30%;
  z-index: 10;
  background-color: var(--neutral);
  border: solid 2px var(--header);
  border-radius: 10px;
  padding: 20px;
}
.close {
  position: absolute;
  border: solid 2px var(--header);
  border-radius: 7px;
  top: 5px;
  right: 10px;
  font-size: x-large;
  font-weight: bold;
  color: var(--header);
  &:hover {
    cursor: pointer;
    color: var(--warning);
    border: solid 2px var(--warning);
  }
}
.selected-name {
  font-weight: bold;
  color: var(--warning);
  font-size: x-large;
  margin-bottom: 15px;
}

label {
  margin-top: 20px;
  font-weight: bold;
  color: var(--header);
  font-size: large;
}
.new-name {
 width: 200px !important;
}
button {
  margin-top: 15px;
  font-weight: bold;
  color: var(--confirm);
  background-color: var(--neutral);
  border: solid 2px var(--confirm);
  transition: 0.5s all;
  &:hover {
    cursor: pointer;
    color: var(--neutral);
    background-color: var(--confirm);
    border: solid 2px var(--confirm);
  }
}
