@import "../../../variables-css/variables.css";

.modifica-ins {
  width: 400px;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  position: absolute;
  top:10%;
  left: 30%;
  z-index: 10;
  background-color: var(--neutral);
  border: solid 2px var(--header);
  border-radius: 10px;
  padding: 20px;
  padding: 50px;
}
.close {
  position: absolute;
  border: solid 2px var(--header);
  border-radius: 7px;
  top: 5px;
  right: 10px;
  font-size: x-large;
  font-weight: bold;
  color: var(--header);
  &:hover {
    cursor: pointer;
    color: var(--warning);
    border: solid 2px var(--warning);
  }
}
.modifica-ins input[type="text"]{
    border: none;
    width: fit-content;
    text-align: center;
    

} 
input[type="number"]{
    width: 80px;
    height: 44px;
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
    margin-right:10px;
  background-color: var(--neutral);
  border:solid 2px var(--header);
  color:var(--header)
  }
  input[type="number"]::-webkit-inner-spin-button {
  border-radius: 5px;
  height: 30px; 
  width: 20px; 
  cursor: pointer;
}
.label-old{
  color: var(--warning);
}
label{
  padding-bottom: 0px;
}
