@import "../../../variables-css/variables.css";

.modifica-ins {
  width: 400px;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  position: absolute;
  left: 30%;
  z-index: 10;
  background-color: var(--neutral);
  border: solid 2px var(--header);
  border-radius: 10px;
  padding: 20px;
}
.close {
  position: absolute;
  border: solid 2px var(--header);
  border-radius: 7px;
  top: 5px;
  right: 10px;
  font-size: x-large;
  font-weight: bold;
  color: var(--header);
  &:hover {
    cursor: pointer;
    color: var(--warning);
    border: solid 2px var(--warning);
  }
}