@import '../../variables-css/variables.css';

body{
    display: flex;
    align-items: flex-start;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
    height: fit-content;
    font-size: 1.5rem;
    font-weight: bold;
    width: 100%;
}