@import "../../variables-css/variables.css";

.search {
  transition: 1s all;
  margin-left: 50px;
}
input[type="text"] {
  border: none;
  border: solid 2px var(--header);
  color: var(--header);
  background-color: aliceblue;
  padding: 15px;
  width: 25%;
  border-radius: 10px;
}
label {
  color: var(--header);
}
input[type="radio"] {
  display: none;
}
.option.selected {
  color: var(--confirm);

  font-weight: bold;
  border-bottom: 2px solid var(--confirm);
  cursor: pointer;
  transform: scale(1.2);
}
.option {
  color: var(--secondary);
  font-weight: 400;
  transition: 0.3s all;
  margin-right: 20px;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  display: inline-block;
  margin-top: 10px;
}
.submit {
    margin-left: 20px;
  color: var(--confirm);
  background-color: var(--neutral);
  border: solid 2px var(--confirm);
  transition: 0.5s;
  &:hover {
    background-color: var(--confirm);
    border: solid 2px var(--confirm);
    color: var(--neutral);
  }
}
