@import '../variables-css/variables.css';

body{
    width: 100%;
    height: 100%;
    background-color: var(--header);
    display: flex;
    flex-direction: column;
}
.container-home{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;

}
.container-side{
    height: 100%;
    width: 200px;
}