@import "../variables-css/variables.css";

body {
  width: 100%;
  height: 100%;
  background-color: var(--header);
  display: flex;
  flex-direction: column;
}
.container-home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.container-home .container-side {
  height: 100%;
  width: 200px;
}
.container-home .container-main {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  background-color: var(--neutral);
}

.container-home .container-main .container-show {
  background-color: var(--neutral);
  width: 1000px;
  height: 1000px;
}
.container-acc {
  margin: 10px;
}
table {
  min-width: 300px;
}
thead td {
  padding: 2px 10px;
  text-align: center;
  min-width: 100px;
}
tbody tr td {
  padding: 0;
  border: none;
}
.delete {
  color: var(--warning);
  
  display: inline-block;
  border: solid 2px transparent;
}
.delete:hover {
  cursor: pointer;
  border-radius: 5px;
  border: solid 2px var(--warning);
    box-shadow: 2px 2px 8px #d68a17;

}
.modify{
  color: var(--header);
  margin-left: 10px;
  transition: all 0.8s;
  border: solid 2px transparent;
  &:hover{
    cursor: pointer;
  box-shadow: 2px 2px 8px #020452;
  border-radius: 5px;
  border: solid 2px var(--header);
  }
}