@import "../../../variables-css/variables.css";

select{
    background-color: var(--neutral);
    color: var(--header);
    margin-left: 20px;
    width: fit-content;
    height: 50px;
    padding: 8px;
    border-radius: 10px; 
    border:solid 2px var(--header);
    
}
option{
    padding: 8px 0;
}
.message-ok{
  width: fit-content;
  border-radius: 10px;
  padding: 10px;
  color: var(--confirm);
  border: solid 2px var(--confirm);
}
.message-no{
  width: fit-content;
  border-radius: 10px;
  padding: 10px;
  color: var(--warning);
  border: solid 2px var(--warning);
}