@import '../../variables-css/variables.css';

.card{
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 200px;
    border: solid 2px var(--header);
    border-radius: 10px;
}
.card .title{
    margin: 0;
    color:var(--header);
    font-size: 1.2rem;
    font-weight: bold;
}
.card .number-low{
    margin:0;
    color: var(--warning);
    font-size: 1.5rem;
}