@import "../../variables-css/variables.css";

.insert{
    margin-left: 15%;
    border: solid 4px var(--secondary);
  width: fit-content;
  padding: 20px;
  box-shadow: 1px 4px 4px 3px rgba(0, 0, 0, 0.25);
  text-align: center;
  border-radius: 10px;
  > .title{
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--header);
    margin-bottom: 15px;
  }
  > select{
    margin-right:10px;
    margin-top: 3px;
    margin-left:10px;
  }
  >input[type="number"]{
    width: 80px;
    height: 43px;
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
    margin-right:10px;
  background-color: var(--neutral);
  border:solid 2px var(--header);
  color:var(--header)
  }
  >input[type="number"]::-webkit-inner-spin-button {
  border-radius: 5px;
  height: 30px; 
  width: 20px; 
  cursor: pointer;
}
}