@import "../../variables-css/variables.css";

.insert{
    margin-left: 20%;
    border: solid 4px var(--secondary);
  width: fit-content;
  padding: 20px;
  box-shadow: 1px 4px 4px 3px rgba(0, 0, 0, 0.25);
  text-align: center;
  border-radius: 10px;
  > .title{
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--header);
    margin-bottom: 15px;
  }
  > select{
    margin-right:10px;
    margin-left:10px;
  }
}